<h2>red or blue?</h2><br>

<form action="/game" method="POST">
  <button type="submit" name="move" value="blue">BLUE</button>
  <button type="submit" name="move" value="red">RED</button>
</form>

<form action="/info" method="POST">
   <p>
      <label for="number">
        <span>Enter number to count ahead</span>
        <strong><abbr title="required">*</abbr></strong>
      </label>
      <input type="number" id="number" name="colorCount">
    </p>
    <p>
      <label for="colour">
        <span>See all or Count a colour:</span>
      </label>
      <select id="colour" name="colour">
        <option value="see all">Both</option>
        <option value="blue">Blue</option>
        <option value="red">Red</option>
      </select>
    </p>
  <p> <button type="submit">Look Ahead</button> </p>
</form>